.page3{
    background-image: url(headphones_hero_2.jpg);
    background-repeat: no-repeat;
    color: aliceblue;
    padding: 50px;
    font-weight: 500;
    padding-left: 80px;
    padding-right: 130px;
    margin-top: 200px;
    margin-left: 180px;
    font-size: 21px;
    font-weight: 300;
    font-display: 200px;
    text-align: center;
}

.image-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.image-item{
    position: relative;
    width: 110px;
    height: 125px;
}

.image-item img{
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay span{
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 20%;
}

.overlay p{
    margin: 0;
    font-size: 0.7em;
}